<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleMainScreenStudent.css">
</head>
    <body>
        <div class="heading">
            <h1>Bem vindo(a), <span th:text="${nome}"></span></h1>
            <button onclick="openOverlay()" class="viewprofile">
                <img src="/img/iconuser.png" alt="icone de usuario">
            </button>
        </div>
        <div class="bodypage">
            <button class="seeclasses"  onclick="window.location.href = '/aulas' ">
                Ver Aulas 
            </button >

            <button class="register" onclick="window.location.href = '/matricula' " >
                Fazer Mátricula
            </button>

            <button class="grades">
                Notas
            </button>

            <button class="attendance" onclick="window.location.href = '/presenca'">
                Ver Presenças
            </button>
        </div>

        <div class="overlay" id="overlay">
            <div class="overlaycontent">
                <p>Nome completo:<span th:text="${nome}"></span> </p>
                <p>Matricula: <span th:text="${matricula}"></span> </p>
                <p>Email: <span th:text="${email}"></span> </p>
                <!--<p>Curso: <span th:text="${curso}"></span> </p> -->
                <a onclick="closeOverlay()">Fechar</a>
                <p></p>
            </div>
        </div>
        <script>
            function openOverlay(){
                document.getElementById("overlay").style.display = "flex";
            }

            function closeOverlay() {
                document.getElementById("overlay").style.display = "none";
            }
        </script>      
    </body>
</html>