<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylestudent.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça seu login<br> E realize sua matricula</h1>
            <img src="/img/img-loginscreen.svg" class = "left-login-image" alt="education">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                <div th:if="${errorMessage}" class="error-message">
                    <span th:text="${errorMessage}"></span>
                </div>                
                <form id="login-form" action="/loginscreenstudent" method="post">
                    <div class="textfield">
                        <label for="matricula">Matricula</label>
                        <input type="text" name="matricula" placeholder="Matricula" required> 
                    </div>
                    <div class="textfield">
                        <label for = "senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                 </form>
                 <a href="/homescreen" class="back-homescreen">Voltar</a>
            </div>
        </div>
    </div>

    <script>
        // Verifica se a mensagem de erro existe
        if (document.getElementById("error-message")) {
            // Define o tempo em milissegundos (ex: 5000 ms = 5 segundos)
            setTimeout(function() {
                // Remove a mensagem após o tempo definido
                document.getElementById("error-message").style.display = "none";
            }, 5000);  // 5000 ms = 5 segundos
        }
    </script>
</body>
</html>