<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylehomescreen.css">
    <title>Home</title>
</head>
<body>
    <div class="main-home-screen">
        <div class="button-container">
            <button class="btn-aluno" onclick="window.location.href = '/loginscreenstudent' ">
                <img src="/img/hathomecreen.jpg" class="hat-aluno" alt="soualuno">
                <span>Sou aluno</span>
            </button>
            
            <button class="btn-teacher" onclick="window.location.href = '/loginscreenteacher' ">
                <img src="/img/teacherhomescreen.jpg" class="professor" alt="professor">
                <span>Sou Professor</span>
            </button>
       
            <button class="btn-gestor" onclick="window.location.href = '/loginscreenmanager' ">
                <img src="/img/gestorhomescreen.jpg" class="gestor" alt="gestor">
                <span>Sou Gestor</span>
            </button>
        </div>
    </div>
</body>
</html>
